# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini


data/
report/
*.pdf
.ipynb_checkpoints/
*.txt
*.xml
*.png
homework/Day_004_first_EDA.ipynb
homework/Day_005-1_build_dataframe_from_scratch.ipynb
homework/Day_005-2_read_and_write_files.ipynb
homework/Day_005-3_read_and_write_files.ipynb
homework/Day_006_column_data_type.ipynb
homework/Day_007_Feature_Types.ipynb
homework/Day_009_outliers_detection.ipynb
homework/Day_009_outliers_detection_Ans.ipynb
homework/Day_010_Outliers.ipynb
homework/Day_011_handle_outliers.ipynb
homework/Day_012_Fill_NaN_and_Scalers.ipynb
