# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini


data/
report/
*.pdf
*.csv
.ipynb_checkpoints/
*.txt
*.xml
ANS/*
homework/Day_004_first_EDA.ipynb
homework/Day_005-1_build_dataframe_from_scratch.ipynb
homework/Day_005-2_read_and_write_files.ipynb
homework/Day_005-3_read_and_write_files.ipynb
homework/Day_006_column_data_type.ipynb
homework/Day_007_Feature_Types.ipynb
homework/Day_009_outliers_detection.ipynb
homework/Day_009_outliers_detection_Ans.ipynb
homework/Day_010_Outliers.ipynb
homework/Day_011_handle_outliers.ipynb
homework/Day_012_Fill_NaN_and_Scalers.ipynb
homework/Day_013_dataFrame_operation.ipynb
homework/Day_014_correlation_example.ipynb
homework/Day_015-supplementary_correlation_and_plot_with_different_range.ipynb
homework/Day_016_EDA_KDEplots.ipynb
homework/Day_017_discretizing.ipynb
homework/Day_020_EDA_heatmap.ipynb
homework/Day_021_first_model.ipynb
homework/dickliu.csv
homework/Day_022_Introduction_of_Feature Engineering.ipynb
homework/house_baseline.csv
homework/titanic_baseline.csv
homework/Day_023_Reduce_Skewness.ipynb
homework/Day_024_LabelEncoder_and_OneHotEncoder.ipynb
homework/Day_025_Mean_Encoder.ipynb
homework/Day_026_CountEncoder_and_FeatureHash.ipynb
homework/Day_027_DayTime_Features.ipynb
homework/Day_028_Feature_Combination.ipynb
homework/Day_030_Feature_Selection.ipynb
homework/Day_031_Feature_Importance.ipynb
homework/Day_032_Leaf_Encoding.ipynb
homework/Day_034_train_test_split.ipynb
homework/Day_036_evaluation_metrics.ipynb
homework/Day_038_regression_model.ipynb
homework/Day_040_lasso_ridge_regression.ipynb
homework/Day_042_decision_tree.ipynb
homework/Day_044_random_forest.ipynb
homework/Day_046_gradient_boosting_machine.ipynb
homework/Day_048_HW.csv
homework/Day_020_HW.ipynb
homework/Day_020_HW.ipynb
homework/Day_020_HW.ipynb
homework/Day_049_Blending.ipynb
homework/Day_050_Stacking.ipynb
homework/Day_056_kmean.ipynb
homework/Day_057_HW.ipynb
homework/Day_058_hierarchical_clustering.ipynb
homework/Day_059_PCA_sample.ipynb
homework/Day_061_tsne_sample.ipynb
homework/Day_062_tsne.ipynb
homework/D66/Day66-Keras_Introduction.ipynb
homework/D66/Day66-Win10_InstallTensorFlow_gpu&Keras.ipynb
homework/D66/Day66-Keras_Introduction_HW.ipynb
homework/D66/Day_066_Introduction_of_Keras.ipynb
homework/D66/LINUX_CPU.png
homework/D66/Linux_GPU.png
homework/D66/macGPU.png
homework/D66/macOS CPU.png
homework/D66/Step2.png
homework/D66/Step3.png
homework/D66/Step5.png
homework/D66/Step6.png
homework/D66/Windows10 CPU_GPU.png
homework/Day67-Keras_Dataset_Introduce.ipynb
homework/Day68-Keras_Sequential_Model.ipynb
homework/Day69-keras_Module_API.ipynb
homework/Day70-Keras_Mnist_MLP_Sample.ipynb
homework/Day71-loss_function.ipynb
homework/Day72-Activation_function.ipynb
homework/Day74-Gradient Descent_math.ipynb
homework/Day74-Gradient Descent_Math_2.ipynb
homework/Day75-Back_Propagation_Advanced.ipynb
homework/Day75-Back_Propagation.ipynb
homework/saved_models/keras_cifar10_trained_model.h5
homework/saved_models/keras_cifar10_trained_model_dick.h5
homework/D76-optimizer_example.ipynb
homework/D76-Optimizers___.ipynb
homework/Day077_overfitting.ipynb
homework/Day078_CheckBeforeTrain.ipynb
homework/Day079_LearningRateEffect.ipynb
homework/Day082_Dropout.ipynb
homework/Day081_Regulization.ipynb
homework/Day083_BatchNorm.ipynb
homework/Day085_CB_EarlyStop.ipynb
homework/Day086_CB_ModelCheckPoint.ipynb
homework/day_086_best_val_loss_weights.h5
homework/Day087_CB_ReduceLR.ipynb
homework/Day088_CB_CustomizedCallbacks.ipynb
homework/Day090_color_histogram.ipynb
homework/Day091_classification_with_cv.ipynb
homework/Day93-CNN_Brief.ipynb
homework/Day94-CNN_Convolution .ipynb
homework/Day95-CNN_Pooling_Padding.ipynb
homework/Day097_Keras_CNN_vs_DNN.ipynb
